button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

input[type='checkbox'] {
  margin-right: 10px;
}

header {
  font-size: 36px;
  margin-top: 30px;
}

section {
  margin-top: 30px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list-group-item {
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }

  &.done {
    color: #636c72;
    text-decoration: line-through;
  }
}
