<div class="container-fluid">
  <header>
    <h1 class="text-center">todos</h1>
  </header>
  <section class="main-actions">
    <div class="row">
      <div class="col-12">
        <form #todoForm="ngForm" (submit)="addTodo(todoEntry)">
          <div class="input-group">
            <span class="input-group-btn">
              <button [disabled]="!todoEntry" class="btn btn-primary"
                  type="submit">Add</button>
            </span>
            <input ngModel [(ngModel)]="todoEntry" type="text" name="todoInput"
                class="form-control" placeholder="add a todo">
          </div>
        </form>
        <ul class="list-group">
          <li *ngFor="let todo of todos | sortTodosPipe: listView"
              (click)="toggleTodoState(todo)" [class.done]="!todo.active"
              class="list-group-item noselect">
              <input type="checkbox" [checked]="!todo.active">{{todo.text}}</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="additional-actions">
    <div class="row">
      <div class="col-12">
        <select #listToggle [(ngModel)]="listView" name="list-toggle">
          <option value="all">All</option>
          <option value="active">Active</option>
          <option value="complete">Complete</option>
        </select>
        <button (click)="clearCompletedTodos()"
            [disabled]="!checkCompletedTodos()" type="button"
            class="btn btn-secondary float-right">
            Clear Complete</button>
      </div>
    </div>
  </section>
</div>
